nksv-ilya.fun {
	encode gzip

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	reverse_proxy nksv-portfolio:80
}

www.nksv-ilya.fun {
	redir https://nksv-ilya.fun{uri} permanent
}
